@CHARSET "ISO-8859-1";

.card{
 margin-top:80px;
height:545px;
    transition: 0.3s;
     border-radius: 5px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
 }
 
 .card-title{
 color:black;
 }
 
 .card-text{
 color:black;
 }
 
 #bag{
 color:white;
  background-color:#94618e;
  border-radius:600px;
 
 }
 
 #bag:hover
 {
 background-color:white;
 color:#94618e;
 border-radius:600px;
 }